<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agarwal.coaching">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/launchicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainWindow"></activity>
        <activity android:name=".AddBatch"></activity>
        <activity android:name=".AddCourse"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".AdminWindow"></activity>
        <activity android:name=".EntryWindow"></activity>
        <activity android:name=".ViewWindow"></activity>
        <activity android:name=".AddStudentEntry"></activity>
        <activity android:name=".AddUser"></activity>
        <activity android:name=".Mail"></activity>
        <activity android:name=".AddStudentQuery"></activity>
        <activity android:name=".ViewStudentRecord"></activity>
        <activity android:name=".StudentListView"></activity>
        <activity android:name=".QueryListView"></activity>
        <activity android:name=".ViewQueryRecord"></activity>
        <activity android:name=".FeeDeposit"></activity>
        <activity android:name=".DrawerActivity"></activity>
        <activity android:name=".AboutUs"></activity>
    </application>

</manifest>